@media (max-width: 768px) {
  /* Styles for mobile devices */
}

.App{
  padding:  5px 5px 5px 5px;
  margin:  5px 5px 5px 5px;

}
.title{
  text-align: center;
}






.to-do-container {
  display: flex;
  flex-direction: column;
}






.button-style{
  height: 50px;
  font-size: 15px;
  width: 100px;
  border-radius: 10px;
  align-self: center;
  margin: 10px 10px 10px 10px;


}

.input-style{
  height: 50px;
  font-size: 15px;
  border-radius: 10px;

}




.card {
  margin: 5px 5px 5px 5px ;
  height: 50px;
  border: 1px solid black;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-wrap: break-word;
  background-color: rgb(0, 8, 119);
  border-radius: 10px;
  border-color: aliceblue;
  
  



}

.card-text {
  font-size: 16px;
  overflow-wrap: break-word;
}

.card-button {
  background-color: #00000000;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.card-button-mark {
  background-color: #00000000;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  


}